# Python virtual environment
.venv/

# Environment variable files
.env
**/package-lock.json

# Output and log files
*.log

# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Test coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# pytest cache
.pytest_cache/

# mypy cache
.mypy_cache/

# Pyre type checker
.pyre/

# Build directories
build/
dist/
*.egg-info/
.eggs/

# VSCode settings
.vscode/

# Do not ignore source files in src/
!src/ 